---
export interface Props {
  title: string;
  description: string;
  type?: string;
  next?: string;
  prev?: string;
  canonicalURL?: string;
}

const { title, description, next, prev, canonicalURL } = Astro.props as Props;
---

<!-- Common -->
<meta charset="UTF-8">
<title>{title}</title>
<meta name="description" content={description}>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<link rel="icon" type="image/svg+xml" href="/favicon.svg">

<!-- Sitemap -->
<link rel="sitemap" href="/sitemap.xml">
<!-- RSS -->
<link rel="alternate" type="application/rss+xml" href="/feed/posts.xml">

<!-- SEO -->
<link rel="canonical" href={canonicalURL}>
{next && <link rel="next" aria-label="Previous Page" href={new URL(next, canonicalURL).href}>}
{prev && <link rel="prev" aria-label="Next Page" href={new URL(prev, canonicalURL).href}>}

<!-- OpenGraph -->
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>

<!-- Twitter -->
<meta name="twitter:site" content="@astro">
<meta name="twitter:title" content={title}>
<meta name="twitter:description" content={description}>
