---
import { navigationLinks } from '../utils/navigation-links.js'
import data from '../globals/settings.json';


const path = Astro.request.url.pathname;
const [content] = await Astro.glob('../globals/navigation.md');

// Second param must match what is set it the admin.
const headerNavigation = navigationLinks(content.frontmatter, 'Header Navigation');
const headerLinks = headerNavigation[0].map((item: any) => {
  const link = item.link.replace(/^src\/|content\/|pages\/|index|.md/g, "")
  return { link: item.link_name === 'Home' ? '/' : `/${link}/`, name: item.link_name };
})
---

<section class="relative">
  <div class="flex items-center justify-between h-20 mx-auto max-w-7xl">
    <div class="flex items-center justify-between w-full pr-8">
      <a href="/" class="relative z-10 flex self-stretch w-auto px-8 text-2xl font-extrabold leading-none text-gray-900 select-none">
        {data.company_name}<span class="text-green-500">.</span>
      </a>

      <nav class="items-center justify-center hidden space-x-8 text-gray-900 md:flex">
        {headerLinks.map((item: any) => (
        <a href={item.link} class="relative inline-block text-base font-bold text-gray-700 transition duration-150 ease">
          <span class="text-black link link-underline link-underline-black">{item.name}</span>
        </a>
        ))}
      </nav>
    </div>
    <button class="flex items-center justify-center h-full px-8 text-gray-900 md:hidden js-show-mobile-menu-button">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16"></path>
      </svg>
    </button>
    <div class="absolute top-0 z-50 hidden w-full p-2 js-mobile-menu">
      <div class="bg-gray-100 rounded ">
        <div class="flex justify-between h-16 mx-auto bg-gray-100 rounded">
          <a href="/" class="relative z-10 flex items-center self-stretch w-auto px-6 text-2xl font-extrabold leading-none text-gray-900 select-none">
            {data.company_name}<span class="text-green-500">.</span>
          </a>
          <button class="flex items-center justify-center h-full px-6 text-gray-900 md:hidden js-hide-mobile-menu-button">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        {headerLinks.map((item: any) => (
        <a href={item.link} class="block px-8 py-4 text-base font-bold text-gray-700 transition duration-150 blockrelative ease">
          {item.name}
        </a>
        ))}
      </div>
    </div>
  </div>
</section>

<script>
  const show = document.querySelector(".js-show-mobile-menu-button");
  const hide = document.querySelector(".js-hide-mobile-menu-button");
  const menu = document.querySelector(".js-mobile-menu");

  show.addEventListener("click", () => {
    menu.classList.remove("hidden");
  });
  hide.addEventListener("click", () => {
    menu.classList.add("hidden");
  });
</script>

