---
import NavigationSection from '../components/navigation-section.astro';
import FooterSection from '../components/footer-section.astro';
import HeaderBlock from '../components/header-block.astro';
import ContentMediaBlock from '../components/content-media-block.astro';
import FaqsBlock from '../components/faqs-block.astro';

import '../styles/global.css';

const { content } = Astro.props;
---

<html lang="en">
  <head>
    <title>{content.page_title}</title>
    <meta name="description" content={content.page_description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <NavigationSection uri={content.uri} />

    <article class="article">
    {content.blocks.map((item) => {
      switch(item.template) {
        case 'header-block':
          return <HeaderBlock content={item} />
          break;
        case 'content-media-block':
          return <ContentMediaBlock content={item} />
          break;
        case 'faqs-block':
          return <FaqsBlock content={item} />
          break;
        default:
          return <p>Default</p>
      }
    })}
    </article>

    <FooterSection />

  </body>
</html>
