---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import ContentMediaBlock from '../components/content-media-block';
import '../styles/global.css';

const { content } = Astro.props;
---

<html>
  <head>
    <title>{content.title}</title>
  </head>

  <body>
    <Nav />

    <main class="bg-red-500">
      <h2 class="title">{content.title}</h2>
    </main>

    <article class="article">
    {content.heading}<br />
    {content.blocks[0].template}<br />
    {content.blocks[0].footer_block}
    {content.blocks.map((item) => {
      switch(item.template) {
        case 'footer':
          return <p>footer block!</p>
          break;
        case 'content-media-block':
          return <ContentMediaBlock content={item} />
          break;
          ContentMediaBlock
        default:
          return <p>Default</p>
      }
    })}

      <slot />
    </article>

    <Footer />

  </body>
</html>
