---
import NavigationSection from '../components/navigation-section.astro';
import FooterSection from '../components/footer-section/index.astro';
import { BlockHeader } from '../components/block-header';
import { BlockContentMedia } from '../components/block-content-media';
import { BlockFaqs } from '../components/block-faqs/index.jsx';
import { BlockTestimonials } from '../components/block-testimonials';
import { BlockPricing } from '../components/block-pricing';
import { BlockTeam } from '../components/block-team';
import { BlockProjects } from '../components/block-projects';

import '../styles/global.css';

import * as path from 'node:path';

const mds = Astro.fetchContent('../content/*/*.md');
const allProfiles = mds.filter(md => path.dirname(md.file.pathname).endsWith('profiles'));
const allProjects = mds.filter(md => path.dirname(md.file.pathname).endsWith('projects'));

const { content } = Astro.props;
---

<html lang="en">
  <head>
    <title>{content?.seo?.title || 'insight'}</title>
    <meta name="description" content={content?.seo?.description || 'insight'} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//unpkg.com/alpinejs" defer></script>
  </head>

  <body>
    <NavigationSection uri={content.uri} />

    <article class="article">
    {content.blocks.map((item) => {
      switch(item.template) {
        case 'block-header':
          return <BlockHeader content={item} />
          break;
        case 'block-content-media':
          return <BlockContentMedia content={item} />
          break;
        case 'block-faqs':
          return <BlockFaqs content={item} client:visible />
          break;
        case 'block-testimonials':
          return <BlockTestimonials content={item} />
          break;
        case 'block-pricing':
          return <BlockPricing content={item} />
          break;
        case 'block-team':
          return <BlockTeam content={item} allProfiles={allProfiles} />
          break;
        case 'block-projects':
          return <BlockProjects content={item} allProjects={allProjects} />
          break;
        default:
          return <p class="p-4 m-2 text-xl text-red-700 border border-red-300 bg-red-50">Block <strong>{item.template}</strong> missing from <strong>src/layouts/page.astro</strong></p>
      }
    })}
    </article>

    <FooterSection />

  </body>
</html>
