---
import NavigationSection from '../components/navigation-section.astro';
import FooterSection from '../components/footer-section/index.astro';
import { BlockContentMedia } from '../components/block-content-media';
import { BlockContent } from '../components/block-content';
import { BlockFaqs } from '../components/block-faqs';
import { BlockHeader } from '../components/block-header';
import { BlockPricing } from '../components/block-pricing';
import { BlockProjects } from '../components/block-projects';
import { BlockBlogPosts } from '../components/block-blog-posts';
import { BlockTeam } from '../components/block-team';
import { BlockTestimonials } from '../components/block-testimonials';
import { BlockContactForm } from '../components/block-contact-form';

import data from '../globals/settings.json';
import '../styles/global.css';

const mds = await Astro.glob('../content/**/*.md');

const allProfiles = mds.filter(md => md.file.includes('/src/content/profiles/'));
const allProjects = mds.filter(md => md.file.includes('/src/content/projects/'));
const allBlogPosts = mds.filter(md => md.file.includes('/src/content/blog/'));
const { content } = Astro.props;

const pageTitle = content.frontmatter?.seo?.title ? `${content.frontmatter?.seo?.title} - ${data.company_name}` : data.company_name;

---

<html lang="en">
  <head>
    <title>{pageTitle}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={content.frontmatter?.seo?.description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
    <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script>
    <link rel="prefetch" href="/uploads/2021_nyr_20...4733_-O.webp" />
    <link rel="prefetch" href="/uploads/astro.webp" />
    <link rel="prefetch" href="/uploads/bg_statement.webp" />
    <link rel="prefetch" href="/uploads/cafe-image.webp" />
    <link rel="prefetch" href="/uploads/dinesh.webp" />
    <link rel="prefetch" href="/uploads/eloque-hero.webp" />
    <link rel="prefetch" href="/uploads/eloque-project-tile.webp" />
    <link rel="prefetch" href="/uploads/erlich.webp" />
    <link rel="prefetch" href="/uploads/hero-banner-f……Ox1000.webp" />
    <link rel="prefetch" href="/uploads/hero.webp" />
    <link rel="prefetch" href="/uploads/high_speed_t…next_by.webp" />
    <link rel="prefetch" href="/uploads/jian.webp" />
    <link rel="prefetch" href="/uploads/kia-ev6-microsite.png" />
    <link rel="prefetch" href="/uploads/kia-ev6-review-2021-13.webp" />
    <link rel="prefetch" href="/uploads/kiaev6.webp" />
    <link rel="prefetch" href="/uploads/meeting.webp" />
    <link rel="prefetch" href="/uploads/mercedes_he…234948.webp" />
    <link rel="prefetch" href="/uploads/mercedes.webp" />
    <link rel="prefetch" href="/uploads/project-four-large.png" />
    <link rel="prefetch" href="/uploads/project-four.webp" />
    <link rel="prefetch" href="/uploads/project-one-large.png" />
    <link rel="prefetch" href="/uploads/project-one.webp" />
    <link rel="prefetch" href="/uploads/project-three-large.jpg" />
    <link rel="prefetch" href="/uploads/project-three.webp" />
    <link rel="prefetch" href="/uploads/project-two-large.png" />
    <link rel="prefetch" href="/uploads/project-two.webp" />
    <link rel="prefetch" href="/uploads/richard.webp" />
    <link rel="prefetch" href="/uploads/silicon_valley_opener2.webp" />
    <link rel="prefetch" href="/uploads/silicon-valley.webp" />
    <link rel="prefetch" href="/uploads/solid-is.webp" />
    <link rel="prefetch" href="/uploads/svelte.webp" />
  </head>

  <body hx-boost="true">
      <NavigationSection uri={content.uri} />
    <article class="article">
    {content.frontmatter?.blocks?.map((item) => {
      switch(item.template) {
        case 'block-header':
          return <BlockHeader content={item} />
          break;
        case 'block-content-media':
          return <BlockContentMedia content={item} />
          break;
        case 'block-content':
          return <BlockContent content={item} />
          break;
        case 'block-faqs':
          return <BlockFaqs content={item} />
          break;
        case 'block-testimonials':
          return <BlockTestimonials content={item} />
          break;
        case 'block-pricing':
          return <BlockPricing content={item} />
          break;
        case 'block-team':
          return <BlockTeam content={item} allProfiles={allProfiles} />
          break;
        case 'block-projects':
          return <BlockProjects content={item} allProjects={allProjects} />
          break;
        case 'block-blog-posts':
          return <BlockBlogPosts content={item} allBlogPosts={allBlogPosts} />
          break;
        case 'block-contact-form':
          return <BlockContactForm />
          break;
        default:
          return <p class="p-4 m-2 text-xl text-red-700 border border-red-300 bg-red-50">Block <strong>{item.template}</strong> missing from <strong>src/layouts/page.astro</strong></p>
      }
    })}
    </article>

    <FooterSection />
  </body>
</html>
