---
import NavigationSection from '../components/navigation-section.astro';
import FooterSection from '../components/footer-section/index.astro';
import { HeaderBlock } from '../components/header-block';
import { ContentMediaBlock } from '../components/content-media-block';
import { FaqsBlock } from '../components/faqs-block/index.jsx';
import { TestimonialBlock } from '../components/testimonial-block';
import { PricingBlock } from '../components/pricing-block';
import { TeamBlock } from '../components/team-block';


import '../styles/global.css';

const allProfiles = Astro.fetchContent('../content/profiles/*.md');

const { content } = Astro.props;
// console.log('CONTENT: ', content)
---

<html lang="en">
  <head>
    <title>{content.page_title}</title>
    <meta name="description" content={content.page_description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//unpkg.com/alpinejs" defer></script>
  </head>

  <body>
    <NavigationSection uri={content.uri} />

    <article class="article">
    {content.blocks.map((item) => {
      switch(item.template) {
        case 'header-block':
          return <HeaderBlock content={item} />
          break;
        case 'content-media-block':
          return <ContentMediaBlock content={item} />
          break;
        case 'faqs-block':
          return <FaqsBlock content={item} client:visible />
          break;
        case 'testimonial-block':
          return <TestimonialBlock content={item} />
          break;
        case 'pricing-block':
          return <PricingBlock content={item} />
          break;
        case 'team-block':
          return <TeamBlock content={item} allProfiles={allProfiles} />
          break;
        default:
          return <p class="p-4 m-2 text-xl text-red-700 border border-red-300 bg-red-50">Block <strong>{item.template}</strong> missing from <strong>src/layouts/page.astro</strong></p>
      }
    })}
    </article>

    <FooterSection />

  </body>
</html>
